In [6]:
import numpy as np
import pandas as pd

In [4]:
sports=np.array(['golf','cricket','basketball','Golf','Golf'])
np.unique(sports)

array(['Golf', 'basketball', 'cricket', 'golf'], dtype='<U10')

In [13]:
import pandas as pd
import numpy as np

In [11]:
label=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([1,2,3,4])
dict={'w':10,'x':20,'y':30,'z':40}

In [15]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [16]:
pd.Series(data=sample_list,index=array)

1    100
2    200
3    300
4    400
dtype: int64

In [18]:
pd.Series(array,label)

w    1
x    2
y    3
z    4
dtype: int32

In [19]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

##### Pandas dataframe and indexing

In [21]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])

In [22]:
sports1['cricket']

1

In [24]:
sports1['golf']

4

In [25]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [27]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [33]:
df1=pd.DataFrame(np.random.randn(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.651377 -0.116936 -0.968208 -1.068812  0.281713
B -0.824801  1.465699  2.173970  0.176685 -0.241011
C -0.707628  0.918172 -0.370845 -0.008748 -0.428472
D -0.959544 -0.391713  0.901153 -0.855050 -0.805963
E -0.522872 -0.833287 -0.838651 -2.304603 -0.458152
F  0.326888 -0.690695 -0.200333 -0.183760 -0.318698
G -0.312929 -0.777261  0.006649  0.763168 -0.487918
H -0.732094 -0.448988 -1.144438  0.811371  2.718569